*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.wrapper{
   
    display: flex;
    flex-direction: column;
    min-height: 100% !important;
    height: 100vh;
}


.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


.banner{
    background: #000;

    padding :50px 0px;
    /* background: rgb(209, 205, 205);     */
}


.banner__wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.banner__width {
    max-width: 300px;
    width: 300px;
}

.banner__text{
    text-transform: capitalize;
    color: cyan;
    font-size: 65px;
}

.banner__text-right{
    margin-left: 40px;
}

.banner__apps{
    display: flex;
    align-items: center;
    width: 100%;
}

.banner__btn{
    margin-top: 25px;
    width: 50%;
    width: 50%;
    text-align: center;
}

.banner__img{
    width: 350px;

}

@media screen and (max-width: 635px) {
    .banner__btn{
        width: 100%;
    }
}

@media screen and (max-width) {
    .banner{
        padding: 20px 0px !important;
    }
    .banner__width {
        max-width: 200px;
        width: 200px;
    }
    .banner__text{
        font-size: 25px;
    }
}


@media screen and (max-width:677px) {
    .banner{
        padding: 39px;
    }
    .banner__wrap{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
}





.hero__btn{
    outline: none;
    border: none;
    transition: 0.3s;
    background-color: rgb(27, 27, 219);
    color: white;
    padding: 12px 90px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
}




/* plans card */



.gradient-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  img {
    margin-bottom: 32px;
  }
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: 470px;
}


.card__inner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.header {
    padding: 20px 0px;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidenav {
    background: url("https://www.corero.com/wp-content/uploads/2025/09/2025_COTS-PR-graphic-1.webp") no-repeat center right fixed;
    background-size: cover;
    height: 100%;
    width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: yellow;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
    color: yellow;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn {
    color: yellow;
    font-size: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.header__nav__inner{
  display: flex;
  justify-content: flex-start;
    margin-left: 120px;
}
/*  /plans  */






.title{
  padding: 30px 0px;
}

.title__{
  color: white;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 140px;
}


@media screen and (max-width:550px) {
  .title__{
    margin-left: 30px;
  }
}



.banner__s{
    height: 100vh;
    background: url("https://sloanreview.mit.edu/content/uploads/2019/09/GEN-Davenport-Digital-Transformation-Customer-Experience-2400-1290x860.jpg") no-repeat center left ;
    background-size: cover !important;
}
.banner__wrappers{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header__nav{
    padding: 20px;
    background: #000 !important;
}

.banner__widths{
    max-width: 600px;
    width: 600px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(142, 148, 167, 1);
    backdrop-filter: blur(16px);
    padding: 35px;
    border-radius: 14px;
}

.banner__heading{
    color: #000;
    text-transform: none;
    font-size: 30px;
}
.span {
    color: inherit;
    font-size: 17px;
}

.banner__btns{
    display: flex;
    align-items: center;
    width: 100%;
}

.btn__banner{
    margin-top: 20px;
    background: yellow;
    font-family: "TT Firs Neue",sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    outline: none;
    border: none;
    padding: 30px 100px;
    border-radius: 20px;


}


@media screen and (max-width: 740px) {
    .header__nav__inner{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 30px;
    }
}


@media screen and (max-width: 740px) {
    .banner__img {
        display: none;
    }
}

@media screen and (max-width: 740px) {
    .banner__btn{
        position: fixed;
        bottom: 40px;
        right:0;
        width: 100%;
    }
    .footer {
        position: fixed;
        bottom: 0;
        right:0;
        width: 100%;
    }
}

.footer{
    position: fixed;
    bottom: 0;
    right:0;
    width: 100%;
}

.use{
    background: #000;
    height: 40vh;
}
